<h1>MARIUS VIKTOR MÖLLER</h1>
<h2>nocarea</h2>
<!--  github links, links to deployed projects-->
<h3>Wonky Kong</h3>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'AbstractTurkoise', id: "img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'RUN', id: "img" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'I', id: "img" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- photo gallery flip-cards-->
<h3>Medicine Man</h3>
<!-- Embedded Soundcloud -->
